{% extends 'base.html.twig' %} {% block title %}Admin author - Liste des livres
{% endblock %} {% block body %}

<h1>Liste des authors</h1>

<ul>
  {% for author in authors %}
  <li>
    {{ author.title }}
    (#{{ author.id }})
    {{ author.nationality }}
    {% for book in author.getBooks() %}
    {{ book.title }}
    {% endfor %}

    <a href="{{ path('app_admin_author_update', { id: author.id }) }}"
      >Modifier</a
    >
    <a href="{{ path('app_admin_author_remove', { id: author.id }) }}"
      >Supprimer</a
    >
  </li>

  {% endfor %}
</ul>

{% endblock %}
